body {
  font-family: "Ubuntu Mono", monospace;
}

.clock {
  background-color: #f2f2f2;
  padding: 20px;
  margin: 10px;
}

.city {
  font-size: 16px;
}

.time {
  display: block;
  font-size: 24px;
  font-weight: bold;
}

.container {
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 10px;
}

button {
  height: 20px;
  background-color: green;
}
button:hover {
  height: 20px;
  background-color: rgb(136, 136, 136);
}

h1 {
  color: indigo;
  font-size: 50px;
}
